body {
    margin: 0;
    font-size: 14px;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-weight: bold;
    color: #000000;
    line-height: 1.5;
    text-transform: uppercase;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 14px;
    line-height: 18px;
}

.main-header a {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

.top a {
    color: #000000;
    text-decoration: none;
}

.top span {
    color: #aba9a7;
}

.left-sidebar-apply button {
    font-size: 13px;
    font-family: "PT Sans Narrow", Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

.product-card a {
    color: #000000;
    text-decoration: none;
}

.product-card a span {
    color: #000000;
    text-transform: none;
}

.stock-and-article .article {
    color: #aba9a7;
}

.product-price a {
    color: #ffffff;
    text-decoration: none;
}

.paginator a {
    color: #ffffff;
}

.main-footer p {
    font-size: 14px;
    color: #ffffff;
}

.main-footer a {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}